﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }

        header {
            background: black;
            color: white;
            height: 80px;
            padding-left: 2px 10px;
        }

        p {
            margin: 0;
        }

        h1 {
            margin: 10px;
            font-size: 34px;
        }

        .logo ul {
            margin: 0;
            list-style-type: none;
            float: left;
        }
        .map ul {
            margin: 0;
            list-style-type: none;
            float: Right;
            padding-top : 85px;
            padding-right: 120px;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        .topnav a {
            font-size: 24px;
        }
        .topnav li {
            float: left;
        }

        ul {
            margin: 0;
            list-style-type: none;
            float: right;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <ul>
            <img src="https://maxcdn.icons8.com/Color/PNG/512/Logos/tesla_logo-512.png" alt="Tesla Icon" width="85" height="80">
        </ul>
    </div>
    <ul>
        <div class="topnav">
            <li>
                <h1>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                        Home
                    </a>
                </h1>
            </li>
            <li>
                <h1>
                    <a href="@Url.Action("About", "About")" class="btn btn-primary">
                        About
                    </a>
                </h1>
            </li>
            <li>
                <h1>
                    <a href="@Url.Action("ContactUs", "ContactUs")" class="btn btn-primary">
                        ContactUs
                    </a>
                </h1>
            </li>
        </div>
    </ul>
    
</header>
<br />
<div class="map">
    <ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101391.54238615632!2d-122.20539002759268!3d37.425629339051454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb07b9dba1c39%3A0xe1ff55235f576cf!2sPalo+Alto%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1501477829376" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </ul>
</div>
<h1>Conatct Us:</h1>
<hr />
<p>
    <h4><b>Sales:</b></h4>
    <br />
    Toll free: (888) 51-TESLA or (888) 518-3752
    <br />
    Local: (650) 681-5100
    <br />
    Fax: (650) 681-5101
    <br />
    NASales@tesla.com
    <br />
    EnergyOrdersNA@tesla.com
</p>
<br />
<p>
    
    <h4> <b>Customer Support & Roadside Assistance:</b></h4>
    <br />
    Toll free: (877) 79-TESLA or (877) 798-3752 Local Service Center: (844) 248-3752
    <br />
    Phone numbers for other countries
    <br />
    ServiceHelpNA@tesla.com
    <br />
    Safety recall information

</p>
</body>
</html>
