﻿@using System.Threading.Tasks
@model TeslaModel.TeslaCar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }

        header {
            background: black;
            color: white;        
            height: 80px;
            padding-left: 2px 10px;
        }

        p {
            margin: 0;
        }

        h1 {
            margin: 10px;
            font-size: 34px;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        .logo ul {
            margin: 0;
            list-style-type: none;
            float: left;
        }

        .topnav li {
            float: left;
        }

        ul {
            margin: 0;
            list-style-type: none;
            float: right;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <ul>
            <img src="https://maxcdn.icons8.com/Color/PNG/512/Logos/tesla_logo-512.png" alt="Tesla Icon" width="85" height="80">
        </ul>
    </div>
    <ul>
        <div class="topnav">
            <li>
                <h1>
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                        Home
                    </a>
                </h1>
            </li>
            <li>
                <h1>
                    <a href="@Url.Action("About", "About")" class="btn btn-primary">
                        About
                    </a>
                </h1>
            </li>
            <li>
                <h1>
                    <a href="@Url.Action("ContactUs", "ContactUs")" class="btn btn-primary">
                        ContactUs
                    </a>
                </h1>
            </li>
        </div>
    </ul>
</header>
<div>
    <h1>TeslaCar</h1>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarMaxSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMaxSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarExtras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarExtras)
        </dd>

    </dl>
</div>
<p>
   
    <a href="@Url.Action("Edit", "Home", new {id = Model.CarId})" class="btn btn-primary">
        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
    </a>&nbsp;
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
        <i class="fa fa-reply fa-2x" aria-hidden="true"></i>
    </a>
</p>
</body>
</html>
