﻿@model TeslaModel.TeslaCar

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        a {
            text-decoration: none;
            cursor: pointer;
        }

        header {
            background: black;
            color: white;        
            height: 80px;
            padding-left: 2px 10px;
        }

        p {
            margin: 0;
        }

        h1 {
            margin: 10px;
            font-size: 34px;
        }
        
        a {
            text-decoration: none;
            cursor: po inter;
        }
        .logo ul {
            margin: 0;
            list-style-type: none;
            float: left;
        }

        .topnav li {
            float: left;
        }

        ul {
            margin: 0;
            list-style-type: none;
            float: right;
        }
    </style>
</head>
<body>
<header>
        <div class="logo">
            <ul>
                <img src="https://maxcdn.icons8.com/Color/PNG/512/Logos/tesla_logo-512.png" alt="Tesla Icon" width="85" height="80">
            </ul>
        </div>
        <ul>
            <div class="topnav">
                <li>
                    <h1>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                            Home
                        </a>
                    </h1>
                </li>
                <li>
                    <h1>
                        <a href="@Url.Action("About", "About")" class="btn btn-primary">
                            About
                        </a>
                    </h1>
                </li>
                <li>
                    <h1>
                        <a href="@Url.Action("ContactUs", "ContactUs")" class="btn btn-primary">
                            ContactUs
                        </a>
                    </h1>
                </li>
            </div>
        </ul>
    </header>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>TeslaCar Edit</h1>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.CarId)

        <div class="form-group">
            @Html.LabelFor(model => model.CarId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarId, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CarId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CarName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CarName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarPrice, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarPrice, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CarPrice, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarMaxSpeed, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarMaxSpeed, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CarMaxSpeed, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarExtras, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CarExtras, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CarExtras, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
                &nbsp;
                <a href="@Url.Action("Index","Home")" class="btn btn-primary">
                    <i class="fa fa-reply fa-2x"  aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
}


</body>
</html>
