﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }
        
        a {
            text-decoration: none;
            cursor: pointer;
        }
        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
        a{
            text-decoration:  none;
            cursor:pointer;
        }
        header {
            background:black;
            color:white;
            height: 80px;
            padding-left: 2px 10px;
        }
        p {
            margin:0;
        }
        h1 {
            margin:10px;
            font-size: 34px;
        }
        .logo ul {
            margin : 0;
            list-style-type: none;
            float: left;
        }
        .topnav li {
            float: left;
        }
        ul {
            margin : 0;
            list-style-type: none;
            float: right;
        }
    </style>
</head>
<body>
<header>
    <div class="logo">
        <ul>
            <img src="https://maxcdn.icons8.com/Color/PNG/512/Logos/tesla_logo-512.png" alt="Tesla Icon" width="85" height="80">
        </ul>
    </div>
    <ul>
        <div class="topnav">
            <li>
                <h1> <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                        Home
                    </a>
                </h1></li>
            <li>
                <h1> <a href="@Url.Action("About", "About")" class="btn btn-primary">
                        About
                    </a>
                </h1></li>
            <li>
                <h1> <a href="@Url.Action("ContactUs", "ContactUs")" class="btn btn-primary">
                        ContactUs
                    </a>
                </h1></li>
        </div>
    </ul>
</header>
<br />
<h1>Tesla’s mission is to accelerate the world’s transition to sustainable energy.</h1>
  <hr   align="left">
<p><h6>Tesla was founded in 2003 by a group of engineers in Silicon Valley who wanted to prove that electric cars could be better than gasoline-powered cars. With instant torque, incredible power, and zero emissions, Tesla’s products would be cars without compromise. Each new generation would be increasingly affordable, helping the company work towards its mission: to accelerate the world’s transition to sustainable energy.</h6></p>
<p><h6>Tesla’s engineers first designed a powertrain for a sports car built around an AC induction motor, patented in 1888 by Nikola Tesla, the inventor who inspired the company’s name. The resulting Tesla Roadster was launched in 2008. Accelerating from 0 to 60 mph in 3.7 seconds and achieving a range of 245 miles per charge of its lithium ion battery, the Roadster set a new standard for electric mobility. Tesla would sell more than 2,400 Roadsters, now on the road in more than 30 countries.</h6></p>
<p><h6>The company is expanding its manufacturing footprint into other areas, including in Tilburg, the Netherlands, where it has an assembly facility, and Lathrop, California, where it has a specialized production plant. To reduce the costs of lithium ion battery packs, Tesla and key strategic partners including Panasonic have begun construction of a gigafactory in Nevada that will facilitate the production of a mass-market affordable vehicle, Model 3. By 2018, the gigafactory will produce more lithium ion cells than all of the world’s combined output in 2013. The gigafactory will also produce battery packs intended for use in stationary storage, helping to improve robustness of the electrical grid, reduce energy costs for businesses and residences, and provide a backup supply of power.</h6></p>
<p><h6>In late 2014, Tesla CEO Elon Musk unveiled two dual motor all-wheel drive configurations of Model S that further improve the vehicle’s handling and performance. The 85D features a high efficiency motor at the front and rear, giving the car unparalleled control of traction in all conditions. The P85D pairs a high efficiency front motor with a performance rear motor for supercar acceleration, achieving a 0 to 60 mph time of 3.2 seconds – the fastest four-door production car ever made.</h6></p>
<p><h6>Tesla is not just an automaker, but also a technology and design company with a focus on energy innovation.</h6></p>
</body>
</html>
